encryption = "age"
  [age]
      identity = "~/.config/chezmoi/key.txt"
      recipient = "age18qcy6f9rha8829knduwz3rmglsvu7hpnd2fdles2uckmljq6r5aqnmrcll"   # the public key from above
  [git]
      autoCommit = true
      autoPush = true
  [edit]
      apply = true
  [add]
      encrypt = true
